<nav class="navbar navbar-expand-lg bg-body border-bottom">
  <div class="container-fluid">
    <!-- Logo à esquerda -->
    <a class="navbar-brand fs-3 fw-bold" href="{% url 'home' %}">
      <i class="bi bi-bag-fill me-2"></i>
      <span class="text-primary">SALES</span> 
      <span class="text-body-secondary">HUB</span>
    </a>

    <!-- Botão de tema à direita -->
    <div class="d-flex gap-3">
      <button onclick="toggleTheme()" 
              id="themeButton" 
              class="btn btn-light rounded-circle shadow-sm p-2">
        <i id="themeIcon" class="bi bi-sun fs-5"></i>
      </button>
    </div>
  </div>
</nav>