<nav class="navbar navbar-expand-lg bg-body border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand fs-3 fw-bold" href="{% url 'home' %}">
      <i class="bi bi-bag-fill me-2"></i>
      <span class="text-primary">SALES</span> 
      <span class="text-body-secondary">HUB</span>
    </a>

    <div class="d-flex gap-3">
      <button onclick="toggleTheme()" 
              id="themeButton" 
              class="btn btn-light rounded-circle shadow-sm p-">
        <i id="themeIcon" class="bi bi-sun fs-4"></i>
      </button>
    </div>
  </div>
</nav>