{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="mt-4">Detalhes da Venda #{{ sale.id }}</h2>
  <div class="card mb-4">
    <div class="card-header">
      Informações da Venda
    </div>
    <div class="card-body">
      <p><strong>Data:</strong> {{ sale.sale_date|date:"d/m/Y H:i" }}</p>
      <p><strong>Cliente:</strong> {{ sale.client }}</p>
      <p><strong>Caixa:</strong> {{ sale.cashier }}</p>
      <p><strong>Desconto:</strong> {{ sale.discount }}%</p>
      <p><strong>Total:</strong> R$ {{ sale.total }}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Itens da Venda
    </div>
    <div class="card-body">
      {% if sale.items.all %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Produto (Código - Nome)</th>
              <th>Quantidade</th>
              <th>Preço Unitário</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {% for item in sale.items.all %}
            <tr>
              <td>{{ item.product.title }}</td>
              <td>{{ item.quantity }}</td>
              <td>R$ {{ item.unit_price }}</td>
              <td>R$ {{ item.subtotal|floatformat:2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p>Nenhum item registrado para esta venda.</p>
      {% endif %}
    </div>
  </div>

  <div class="mt-4">
    <a href="{% url 'sale_list' %}" class="btn btn-secondary">Voltar para a Lista de Vendas</a>
  </div>
</div>
{% endblock %}
