{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="mt-4">Nova Venda</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    
    <div class="card mb-4">
      <div class="card-header">
        Dados da Venda
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form.client.label_tag }} 
            {{ form.client }}
          </div>
          <div class="form-group col-md-6">
            {{ form.discount.label_tag }} 
            {{ form.discount }}
          </div>
        </div>
      </div>
    </div>
    
    <div class="card mb-4">
      <div class="card-header">
        Itens da Venda
      </div>
      <div class="card-body">
        {{ items.management_form }}
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Preço Unitário</th>
              <th>Excluir?</th>
            </tr>
          </thead>
          <tbody>
            {% for form in items.forms %}
            <tr>
              <td>{{ form.product }}</td>
              <td>{{ form.quantity }}</td>
              <td>{{ form.unit_price }}</td>
              <td class="text-center">{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
    <button type="submit" class="btn btn-success">Finalizar Venda</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
  $(document).on("change", "select[name$='-product']", function() {
    let selectField = $(this);
    let productId = selectField.val();
    let priceInput = selectField.closest("tr").find("input[name$='-unit_price']");
    if (productId) {
      $.ajax({
        url: "{% url 'get_product_price' %}",
        data: { product_id: productId },
        success: function(data) {
          priceInput.val(data.price);
        }
      });
    } else {
      priceInput.val('');
    }
  });
</script>
{% endblock %}
